<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>users</title>
</head>
<body>
<table border = "1">
    <tr>
        <th>ID</th>
        <th>firstname</th>
        <th>lastname</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:utext="${user.getId()}">id</td>
        <td><a th:href="@{/users/{id}(id=${user.getId()})}" th:utext="${user.getFirstname()}"></a></td>
        <td th:utext="${user.getLastname()}">lastnamer</td>
    </tr>
</table>

<br/>
<hr/>
<a href="/users/new">Create new user</a>
</body>
</html>